body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weatherContainer {
    background-color:burlywood;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

button[type="submit"]:hover {
    background-color: #4a5b6d;
}
#weatherInfo {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: ivory; 
    max-width: 400px; 
    margin: 0 auto; 
}

#weatherInfo h2 {
    margin-top: 20px;
    color: #424242;
}

#weatherInfo p {
    margin: 10px 0;
    color: #666;
}
