body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weatherContainer {
    background-color:burlywood;
    padding: 20px;
    border-radius: 10px;
